:root {
    --cor-primaria: #f6019d;
    --cor-secundaria: #d40078;    
    --cor-branca: #2de2e6;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #3e0154;
    --cor-fundo-cinza-claro: #2b013b;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }